html {
	font-size: 10px;
	font-family: 'Dongle', sans-serif;
	background-color: #101820FF;
}

.titleDiv {
	width: 500px;
	margin: 0 auto;
	padding: 100px 20px 1px 20px;
	line-height: 30%;
	text-align: center;
}

.inputDiv {
	text-align: center;
}

h1 {
	font-size: 60px;
	color: #F2AA4CFF;
}

p {
	font-size: 40px;
	color: #F2AA4CFF;
}

label {
	display: block;
	color: white;
	font: 1rem 'Fira Sans', sans-serif;
	font-size: 18px;
}



input[type='file'] {
	color: white;
	font:  1rem 'Oswald', sans-serif;
	font-size: 13px;
	transform: translateX(30px);
}

/*
textarea {
	color:  #ffff;
	border-style: border: inset: 4px orange;
}
*/