model_config_list {
  config {
    name: 'Short & Sweet'
    base_path: 'gs://sum-exported/xsum'
    model_platform: 'tensorflow'
  }
  config {
    name: 'General'
    base_path: 'gs://sum-exported/bcisxd'
    model_platform: 'tensorflow'
  }
  config {
    name: 'News'
    base_path: 'gs://sum-exported/news'
    model_platform: 'tensorflow'
  }
  config {
    name: 'Scientific'
    base_path: 'gs://sum-exported/scisummnet'
    model_platform: 'tensorflow'
  }
}