model_config_list {
  config {
    name: 'bcisxd-1'
    base_path: 'gs://sum-exported/bcisxd-1'
    model_platform: 'tensorflow'
  }
  config {
    name: 'bcisxd'
    base_path: 'gs://sum-exported/bcisxd'
    model_platform: 'tensorflow'
  }
  config {
    name: 'bcisxd-lgin-hugebat'
    base_path: 'gs://sum-exported/bcisxd-lgin-hugebat'
    model_platform: 'tensorflow'
  }
  config {
    name: 'bcisxd-lgin-smbat'
    base_path: 'gs://sum-exported/bcisxd-lgin-smbat'
    model_platform: 'tensorflow'
  }
  config {
    name: 'bcisxd-lgin-lgbat'
    base_path: 'gs://sum-exported/bcisxd-lgin-lgbat'
    model_platform: 'tensorflow'
  }
  config {
    name: 'news'
    base_path: 'gs://sum-exported/news'
    model_platform: 'tensorflow'
  }
  config {
    name: 'scisummnet'
    base_path: 'gs://sum-exported/scisummnet'
    model_platform: 'tensorflow'
  }
  config {
    name: ' '
    base_path: 'gs://sum-exported/wsxid'
    model_platform: 'tensorflow'
  }
  config {
    name: 'xsum'
    base_path: 'gs://sum-exported/xsum'
    model_platform: 'tensorflow'
  }
}