<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sum it up!</title>
    
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap" rel="stylesheet"> 
    <link href= "{{ url_for('static',filename='styles/style.css') }}" rel= "stylesheet" type= "text/css">
  </head>

  <body>
    <!--Account for firefox -->
    <script>0</script>

    <div class="titleDiv">
      <h1>Summarize Everything!</h1>
      <p>Let's sum it up!</p>
    </div>

    <div class="inputDiv">
      <!--
      <textarea id="bareTextInput" name="BTI" rows="6" cols="40" style="background-color:#111111;border:inset 4px darkslategray;" placeholder="Input raw Text to summarize here."></textarea>
      -->

      <label for="txtFile">Enter a '.txt' file to summarize:</label>

      <input type="file" id="txtFile" name="txtFile" accept="txt">

    </div>

  </body>
</html>
