<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>summit.ai</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">

	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap" rel="stylesheet">
    <link href= "{{ url_for('static',filename='styles/main.css') }}" rel= "stylesheet" type= "text/css">

</head>

<body class="bg-gray-100 text-gray-700 font-sans quicksand">

    <div class="p-6 sm:p-10 lg:p-16 flex flex-wrap">

        <div class="w-full lg:w-1/3 lg:pr-32 order-1 lg:order-1 truncate">
            <div class="max-w-lg lg:float-right lg:text-right leading-loose tracking-tight lg:sticky lg:top-0">
                <p class="font-bold mt-10 mb-6 lg:my-12">Previous Summaries</p>

                <ul class="flex-fit justify-between flex-col">
                    <!--li class may nevr be longer than 26 chars-->
                    <li><a href="#" class="nav">A diam sollicitudin tempor id eue</a></li>
                    <li><a href="#" class="nav">Lectus vestibulum mattis ullamcorper velit sed ullamcorper</a></li>
                    <li><a href="#" class="nav">Pulvinar etiam non quam lacus suspendisse faucibus</a></li>
                </ul>
                <a href="#" class="normal font-bold hover:font-bold">more...</a>
            </div>
        </div>
        <div class="w-full lg:w-2/3 order-2 lg:order-2">
            <div id='article' class="max-w-fit leading-loose tracking-tight">
                <div class="grid grid-cols-2 my-12">
                    <h1 class="font-bold">Article</h1>
                    <div class="text-right grid grid-cols-4 gap-2 lg:gap-4">
                        <hidden></hidden>
                        <button class="js-edit-text hover:bg-gray-400 font-semibold border border-gray-400 rounded shadow py-2 fas fa-pen-nib"></button>
                        <button class="js-copy-file hover:bg-gray-400 font-semibold border border-gray-400 rounded shadow py-2 fas fa-upload"></button>
                        <form id="file-input-form" method="post" enctype=multipart/form-data class="hidden">
                            <input id="file-input" type="file" name="txtFile" name="txtFile" accept="txt">
                        </form>
                        <button class="hover:bg-gray-400 font-semibold border border-gray-400 rounded shadow py-2 fas fa-chevron-right"></button>
                        <p class="mb-8" id="input-text"></p>
                    </div>
                </div>
                {% if noFileErr is defined %}
                    <p id="input-text" class="mb-8">{{noFileErr}}</p>
                {% elif message is defined%}
                    <p id="input-text" class="mb-8">{{message}}</p>
                {% endif %}
            </div>
        </div>

        <div class="w-full lg:w-1/3 lg:pr-32 pt-12 lg:pt-0 lg:sticky lg:bottom-0 order-4 lg:order-3">
            <div class="max-w-lg lg:float-right lg:text-right leading-loose tracking-tight lg:mb-16">
                <p class="font-bold my-4 lg:my-12">Links</p>

                <ul class="flex flex-wrap justify-between flex-row lg:flex-col">
                    <li><a href="https://github.com/JEF1056/sum-everything" target="_blank" class="nav mx-2 lg:mx-0"><i class="fab fa-github"></i> Github</a></li>
                </ul>
            </div>
        </div>
        <div class="w-full lg:w-2/3 order-2 lg:order-4">
            <div class="max-w-fit leading-loose tracking-tight">
                <div class="grid grid-cols-2 my-12">
                    <h1 class="font-bold">Summary</h1>
                    <div class="text-right grid grid-cols-4 gap-2 lg:gap-4">
                        <hidden></hidden>
                        <hidden></hidden>
                        <hidden></hidden>
                        <button class="js-copy-summary hover:bg-gray-400 font-semibold border border-gray-400 rounded shadow py-2 fas fa-copy"></button>
                    </div>
                </div>
                <p id = "summary-text" class="mb-8">Arcu risus quis varius quam quisque id diam vel. Consectetur adipiscing elit ut aliquam purus sit amet. Nibh tortor id aliquet lectus proin nibh. </p>
            </div>
        </div>

    </div>

    <!-- Pin to top right corner -->
    <div class="absolute top-0 right-0 h-12 w-18 p-4">
        <button class="js-change-theme focus:outline-none">🌙</button>
    </div>

    <div class="absolute top-0 left-0 h-12 w-18 p-4">
        <button class="focus:outline-none font-bold">ꜱᴜᴍᴍɪᴛ.ᴀɪ</button>
    </div>

    <script>
        // Get DOM elements related to theme toggling
        const dark_mode_toggle = document.querySelector('.js-change-theme');
        const body = document.querySelector('body');

        // Define a function that returns the theme defined by localStorage
        function getTheme() {
            let theme = localStorage.getItem('theme');
            if (theme == null) {
                localStorage.setItem('theme', 'light');
                theme = 'light';
            }

            return theme;
        }
        
        // Define a function that sets the theme
        function setTheme(theme) {
            if (theme == 'dark') {
                localStorage.setItem('theme', 'dark');
                dark_mode_toggle.innerHTML = "☀️";
                body.classList.remove('text-gray-700');
                body.classList.add('text-gray-300');
                body.classList.remove('bg-gray-100');
                body.classList.add('bg-gray-900');
            } else if (theme == 'light') {
                localStorage.setItem('theme', 'light');
                dark_mode_toggle.innerHTML = "🌙";
                body.classList.remove('text-gray-300');
                body.classList.add('text-gray-700');
                body.classList.remove('bg-gray-900');
                body.classList.add('bg-gray-100');
            } else {
                console.log("Not a valid theme.")
            }
        }

        // At initial load, set theme to last set
        setTheme(getTheme());

        // When button is clicked, set theme to the inverse
        dark_mode_toggle.addEventListener('click', () => {
            if (getTheme() == 'light') {
                setTheme('dark');
            } else if (getTheme() == 'dark') {
                setTheme('light');
            } else {
                console.log("Not a valid theme.")
            }
        });
    </script>


    <script>
        // Template article field and textbox
        let current_id = String(+ new Date())
        const text_template = document.createElement("p");
        const input_template = document.createElement("textarea");

        input_template.rows = 6;
        input_template.placeholder = "Type or paste something...";
        text_template.classList.add('mb-8');
        input_template.classList.add('p-2', 'w-full', 'rounded-lg', 'border', 'border-gray-400', 'focus:border-gray-500');

        // Get DOM elements needed to detect text editing and summary
        const copy_summary_buttton = document.querySelector('.js-copy-summary');
        const edit_text_toggle = document.querySelector('.js-edit-text');
        const article_area = document.getElementById("article");
        const summary_text = document.getElementById("summary-text");
        let multinewline = /\n+/g;

        // Function gets a list of unique ids from localstorage
        function getArticles() {
            // articles is a list of unique identifiers
            let articles = localStorage.getItem('articles');
            if (articles != null) {
                articles = JSON.parse(articles);
                console.log(articles)
                articles.sort();
                return articles
            }
            return null
        }

        function getArticle(article) {
            let stored_text = localStorage.getItem(article);
            if (stored_text == null) {
                return [null, null]
            } else {
                return JSON.parse(stored_text)
            }
        }

        function setArticle(article, text) {
            let articles = getArticles()
            if (articles == null ){
                articles = [article]
            } else if  (!articles.contains(article)) {
                articles.append(article)
            }
            let [_, summary] = getArticle(current_id);
            localStorage.setItem(current_id, JSON.stringify([text, summary]))
            localStorage.setItem("articles", JSON.stringify(articles))
        }

        // Function checks unique id in localstorage and updates the article field accordingly
        function showArticle(article, edit=false) {
            // article is a unique identifier
            let input_text = document.getElementById("input-text");
            let [text, summary] = getArticle(article);
            showSummary(summary)
            if (text == null || edit == true) {
                temp_element = input_template;
                temp_element.value = text;
                edit_text_toggle.classList.remove("fa-pen-nib");
                edit_text_toggle.classList.add("fa-save");
            } else {
                temp_element = text_template;
                text_template.innerHTML = text.replaceAll(multinewline, "<br><br>");
                edit_text_toggle.classList.remove("fa-save");
                edit_text_toggle.classList.add("fa-pen-nib");
            }
            input_text.remove()
            temp_element.id = "input-text";
            article_area.append(temp_element);
            current_id = article;
        }

        function showSummary(summary) {
            if (summary == null) {
                summary_text.innerHTML = "🤔 I don't think I've done this one yet!";
                copy_summary_buttton.classList.add("hidden");
            } else {
                summary_text.innerHTML = summary;
                copy_summary_buttton.classList.remove("hidden");
            }
        }

        // On page load, check if there are stored articles. If not, load empty, if so, load omst recent
        let init_articles = getArticles()
        if (init_articles == null) {
            showArticle(current_id);
        } else {
            showArticle(init_articles[init_articles.length - 1]);
        }

        // Event trigger for editing/saving text
        edit_text_toggle.addEventListener('click', () => {
            if (edit_text_toggle.classList.contains("fa-save")) {
                let input_text = document.getElementById("input-text");
                setArticle(current_id, input_text.value)
                showArticle(current_id, edit=false);
            } else if (edit_text_toggle.classList.contains("fa-pen-nib")) {
                showArticle(current_id, edit=true);
            }
        });

        //Copy trigger
        copy_summary_buttton.addEventListener('click', () => {
            navigator.clipboard.writeText(summary_text.innerHTML);
        });

    </script>

    <script>
        function readTextFile(file) {
            var rawFile = new XMLHttpRequest();
            rawFile.open("GET", file, false);
            rawFile.onreadystatechange = function ()
            {
                if(rawFile.readyState === 4)
                {
                    if(rawFile.status === 200 || rawFile.status == 0)
                    {
                        var allText = rawFile.responseText;
                        alert(allText);
                    }
                }
            }
            rawFile.send(null);
        }

        const upload_file_buttton = document.querySelector('.js-copy-file');
        const file_input = document.getElementById('file-input')

        upload_file_buttton.addEventListener('click', () => {
            file_input.click();
            console.log(file_input.value);
        });

        file_input.onchange = function() {
            document.getElementById("file-input-form").submit();
        };
    </script>
</body>

</html>
